%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin middle-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@mixin input ($width: 100%) {
  display: block;
  width: $width;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #d1cfcb;
  border-radius: 3px;
  outline: none;
}
