.section {
  height: 100vh;
  min-height: 650px;

  &-title {
    display: inline-block;
    font-family: "gagalin", Arial, Helvetica, sans-serif;
    font-size: 72px;
    color: $yellow;
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 9px 14px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  background: $red;
  transition: background .3s;

  &:hover {
    background: #c1401e;
  }
}